# Pandas统计计算和描述

In [1]:
import numpy as np
import pandas as pd

## 常用的统计计算

In [2]:
df_obj = pd.DataFrame(np.random.randn(5,4), columns = ['a', 'b', 'c', 'd'])
df_obj

          a         b         c         d
0 -1.048847 -0.668742 -1.942936  1.396767
1 -0.092051  0.922452 -2.189905 -0.856332
2  1.188767  0.117046  0.032389  0.748231
3 -0.363398  0.814181 -0.378388 -0.767680
4  0.664986 -0.425247  0.495620 -0.179834

In [3]:
df_obj.sum() # 求和，默认是按列

a    0.349458
b    0.759690
c   -3.983219
d    0.341151
dtype: float64

In [4]:
df_obj.max()# 最大值，默认是按列

a    1.188767
b    0.922452
c    0.495620
d    1.396767
dtype: float64

In [5]:
df_obj.min(axis=1) # 求最小值，按行

0   -1.942936
1   -2.189905
2    0.032389
3   -0.767680
4   -0.425247
dtype: float64

## 统计描述

In [6]:
df_obj.describe()

              a         b         c         d
count  5.000000  5.000000  5.000000  5.000000
mean   0.069892  0.151938 -0.796644  0.068230
std    0.876293  0.714166  1.202845  0.980116
min   -1.048847 -0.668742 -2.189905 -0.856332
25%   -0.363398 -0.425247 -1.942936 -0.767680
50%   -0.092051  0.117046 -0.378388 -0.179834
75%    0.664986  0.814181  0.032389  0.748231
max    1.188767  0.922452  0.495620  1.396767